
body{
    font-family: "Roboto", sans-serif;
}
header, main, footer{
    min-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid  rgb(0, 162, 255);
    background-color: azure;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    
}
section{
    padding: 1rem;
    background-color: rgb(0, 162, 255);

}